@font-face {
  font-family: 'icomoon';
  src: url('/assets/fonts/icomoon.ttf?auq8zo') format('truetype'),
       url('/assets/fonts/icomoon.svg?auq8zo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quotes-left:before {
  content: "\e977";
}
.icon-list-ordered:before {
  content: "\e9b9";
}
.icon-list-unordered:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-strikethrough:before {
  content: "\ea65";
}
.icon-superscript:before {
  content: "\ea6b";
}
.icon-subscript:before {
  content: "\ea6c";
}
.icon-text-color:before {
  content: "\ea6d";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-embed:before {
  content: "\ea80";
}

.toolbar {
  position: absolute;
  z-index: 9999;
  height: 35px;

  &-icons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    background: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 25px -4px rgba(0, 0, 0, 0.25);

    height: 100%;
    margin: 0;
    padding: 0;

    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin-left: -5px;
      border-top: 5px solid #444;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 1;
    width: 35px;
    color: #444;
    font-size: 14px;
    font-family: 'Roboto';
    border-bottom: 3px solid #444;
    cursor: pointer;

    &:first-child {
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-bottom-right-radius: 3px;
    }

    &:hover,
    &.active {
      color: #c95339;
      border-color: #c95339;
      i {
        color: #c95339;
      }
    }

    i {
      color: #444;
      font-size: 16px !important;
    }
  }
}

.toolbar.side {
  top: 10px;
  left: 4px;
}

.side-toolbar {
  margin: 0 5px;
  i {
    color: rgba(0, 0, 0, .3);
    font-size: 20px;
  }
}
